.card{
    width: 80%;
    margin: auto;
}
.cardContainer{
    flex-direction: column;
    gap: 40px;
}
.img{
    height: 400px;
    width: 50%;
}
.card:nth-child(even){
    flex-direction: row-reverse;
}
.cardText{
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.projectInfo{
    text-align: center;
    width: 80%;
    font-size: 18px;
    font-weight: 500;
}